@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

$white : #F1EFE3;
$black : black;
$lightWhite : rgba(241, 239, 227, 0.5);
$blue : #988BE3;
$blueGradient : linear-gradient(to bottom, $blue, #EDEEE0);

//TODO Faire des breakpoint sur des paliers notamment pour les fonts
//TODO revoir les marges entres les projets
//TODO corriger le bug dans boutton CV

$text : 1.15vw; 
$h1 : 4.85vw;;
$h2: 2.7vw;
html {
    scroll-behavior: smooth;
  }
  
body {
    margin: 0;
    font-family: 'Syne', sans-serif;
    background: $black;
    font-size: $text; 
    font-weight: 400;
    color: $white;
    overflow: hidden;
    
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  ::-webkit-scrollbar-corner { 
    background: transparent;
  }
h1, h2,h3 {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0; 
}
h1 {
    font-weight: 500;
    font-size: $h1;
    transform: translateX(-8px);
}
h2 {
    font-size: $h2;
    font-weight: 500;
    transform: translateX(-5px);
    margin-bottom: 104px;
}
.name {
    display: flex;
    overflow: hidden;
    & div {
        transform: translateY(60px);
    }
}
.metier {
    display: flex;
    overflow: hidden;
    & div {
        transform: translateY(96px);
    }
}

.preload-opacity {
    animation: preload-opacity 3000ms 6000ms forwards cubic-bezier(.215,.61,.355,1);
}
@keyframes preload-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.letterAnime {
    animation: letterAnime 1000ms 500ms forwards cubic-bezier(.215,.61,.355,1);
}
@keyframes letterAnime {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0px);
    }
}
h3 {
    font-weight: 400;
    font-size: $text;
}

a {
    text-decoration: none;
    color: white;
}
button {
    cursor: pointer;
    padding: 0;
    border-width: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 17vh;
    padding-left: 7px;
}
.container {
    
    height: 100%;
    padding: 0 19vw;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.837vh;
    width: 62%;
    position: fixed;
    background: black;
    z-index: 100;
    opacity: 0;
    animation: preload-opacity 3000ms 7000ms forwards cubic-bezier(.215,.61,.355,1);
    & nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;;
        & a {
           
            &::after{
                content: '';
                height: 2px;
                background: $blue;
                width: 100%;
                display: inherit;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 200ms ease-in-out;
            }
            &:hover::after{
                transform: scaleX(1);
            }
        }
        & div {
            cursor: pointer;
            display: flex;
            align-items: center;
            & img {
                transition: transform 400ms ease-in-out;
                
            }
            &:hover img {
                transform: rotate(90deg);
            }
            & a {
                margin-right: 24px;           
            }
        }
        & span {
            height: 100%;
            width: 1px;
            background: $white;
        }
    }
}
article {
    height: max-content;
   
    width: 100%;
    margin-bottom: 200px;
}
.markName {
    display: flex;
    align-items: center;
    & img {
        margin-right: 24px;
        transform: translateY(2px);
    }
}
.tiret {
    width: 22px;
    background: $white;
    height: 2px;
    margin-right: 52px;
}
.landing {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &_eyeContain {
        width: 36%;
        display: flex;
        &_eyeBox {
            width: 104px;
            border: white 1px solid;
            border-radius: 200px;
            margin-left: 65px;
            &_paupieres {
                font-size: 0 !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                height: 584px;
                
                &-top {
                    background-position: top;
                    position: absolute;
                    top: 91px;
                    width: 100%;
                    height: 148px;
                    border-top-left-radius: 100px;
                    border-top-right-radius: 100px;
                    transition: 300ms ease-out;
                    
                    transform-origin: top;
                    background-repeat: no-repeat;
                    background-image: url('./assets/stateClose.svg');
                }
                &-bottom {
                    background-position: bottom;
                    position: absolute;
                    bottom: 91px;
                    width: 100%;
                    height: 148px;
                    border-bottom-left-radius: 100px;
                    border-bottom-right-radius: 100px;
                    transform-origin: bottom;
                    background-repeat: no-repeat;
                    background-image: url('./assets/stateClose.svg');
                    transition: 300ms ease-out;
                }
                &-iris {
                    width: 100%;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background: white;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: -1;
                    &-pupille {
                        width: 53.85%;
                        aspect-ratio: 1;
                        background: $black;
                        border-radius: 50%;
                        transition: 300ms ease-out;
                    }
                }
            }
        }
        
    }
    &_bloc {
        display: flex;
        flex-direction: column;
        width: 64.02%;
        &_text {

            & h2 {
                margin-bottom: 24px !important;
            }
            & h1 {
                margin-bottom: 24px;
            }
            & div {
                display: flex;
                align-items: center;
            }
           
        }
    }
}
.space {
    white-space: pre-wrap;
}
.bloc_cta {
    display: flex;
    align-items: center;
    margin-top: 104px;
    opacity: 0;
    justify-content: flex-end;
    animation: preload-opacity 3000ms 7500ms forwards cubic-bezier(.215,.61,.355,1);
}
.landing_bloc_text_descr {
    opacity: 0;
    animation: preload-opacity 3000ms 6500ms forwards cubic-bezier(.215,.61,.355,1);
}
.bloc_cta .cvButton_largeCircle {
    transform: translateX(-60px);
}
.cvButton {
    
    &_largeCircle {
        
        color: initial;
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
        width: 104px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid white;
    }

    border-radius: 50%;
    width: 130px;
    aspect-ratio: 1;
    border:1px solid white;
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: $text;
    font-family: 'Syne', sans-serif;
    color: $white;
    &_circleWhite {
        width: 104px;
        aspect-ratio: 1;
        background: $white;
        border-radius: 50%;
        
    }
    & img {
        opacity: 0;
    }
    &_arrowBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: translateY(15px);
        & img {
            
            margin-bottom: 10px;
            transform-origin: bottom;
            z-index: 1;
        }
        
        & div {
            width: 32px;
            height: 25px;
            background: $white;
            border-top: 4px solid $black;
            z-index: 2;
            opacity: 0;
        }
    }
}
.arrowCv {
    position: initial !important;
}
.validate {
    margin-bottom: -25px;
    position: absolute;
}
.cvButton_circleWhite, .cvButton span {
    position: absolute;
}

.contactButton {
    &_bg {
        background-image: url(./assets/lettrage.svg);
        background-size: cover;
        background-repeat: no-repeat;
        animation: infiniteRotate 10000ms infinite linear;
        width: 102%;
        aspect-ratio: 1;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    background: black;
    width: 230px;
    aspect-ratio: 1;
    border-radius: 50%;
    &_largeCircle {
        
        color: initial;
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
        width: 110px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_blue {
        border-radius: 50%;
    width: 104px;
    aspect-ratio: 1;
    
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    &_circleWhite {
        width: 130px;
        aspect-ratio: 1;
        background: $white;
        border-radius: 50%;
    }
}
@keyframes infiniteRotate {
    0% {
        transform: rotate(0);
    }
    0% {
        transform: rotate(360deg);
    }
}

.arrowScroll {
    position: fixed;
    bottom: 33px;
    right: 44px;
    opacity: 0;
    z-index: 101;
    cursor: pointer;
    animation: preload-opacity 3000ms 7000ms forwards cubic-bezier(.215,.61,.355,1);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    &-catBox {
        display: flex;
        align-items: center;
        align-self: flex-start;
        margin-bottom: 27px;
        &-tiret {
            width: 24px;
            height: 2px;
            background-color: white;
        }
        & h3 {
            margin-left: 56px;
        }
    }
    
    & h2 {
        width: 100%;
    }
    &_bloc {
        display: flex;
    flex-direction: column;
    width: 65%;
        &_content {
            &_photo {
                width: 100%;
                height: 20vw;
                border-radius: 28px;
                background-image: url(./assets/photo.jpg);
                background-position:center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &_text p:nth-child(1){
                margin-top: 56px;
            }
            
        }
    }
}

.project {
    &_bloc {
        display: flex;
        justify-content: space-between;
      
        &_left {
            height: max-content;
            transition: transform 500ms ease-in-out;
            &_point {
                background: $white;
                height: 2px;
                width: 2px;
                margin-bottom: 17px;
            }
            &_section {
                display: flex;
                align-items: center;
                justify-content: center;
                width: max-content;
                
                & h3 {
                    font-weight: 400;
                    transition: all 300ms ease-in-out;
                }
                font-weight: 400;
                & div {
                    height: 2px;
                    width: 24px;
                    background: $white;
                    margin-right: 56px;
                    transition: all 300ms ease-in-out;
                    transform-origin: left;
                    
                }
            }
            
        }
        &_right {
            &:hover {
                // cursor:none;
            }
            width: 65%;
            display: flex;
            flex-direction: column;
            &_blocLine {
                width: 100%;
            }
            &_line {
                
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 32px;
                transition: all 300ms ease;
                &:hover {
                    cursor:none;
                    color: $blue;
                    
                    & div {
                        background: $blue;
                    }
                    
                }
                &:nth-child(5){
                    margin-bottom: 80px;
                }
                &:nth-child(6){
                    margin-bottom: 80px;
                }
                
                & h2 {
                    margin-bottom: 16px;
                    font-weight: 500;
                    font-size: $h2;
                }
                & span {
                    margin-bottom: 24px;
                    font-weight: 400;
                    font-size: $text;
                }
                & div {
                    height: 1px ;
                    background: $white;
                    width: 100%;
                    transition: all 300ms ease;
                }
                & img {
                    position: absolute;
                    max-height: 15vw;
                    z-index: 99;
                  opacity: 0;
                  pointer-events: none;
                }
            }
        }
    }
}
.images {
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 100%;

    align-self: center;

    max-width: 70vw;
    margin-top: 41vh;
    margin-bottom: 10vh;
    height: 100%;

    & img {
        width: 15vw;
    }

    &-landing {
        margin-top: 300px;
        height: 100vh;

    }

}
.images-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    
}
.images-connexion div {
    justify-content: space-around !important;
}
.images-developpeur {
    justify-content: center !important;
    & div img {
        width: 33vw;
    }
}
.blue {
    color: $blue;
    
    transform: scale(1.1);
}
.contact {
    &_bloc {
        display: flex;
        justify-content: flex-end;
        &_right {
            width: 65%;
            display: flex;
            flex-direction: column;
            & form {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                & input {
                    background: $black;
                    border: none;
                    border-bottom: 1px solid $white;
                    padding:24px 0 ;
                    color: $white;
                    font-family: 'Syne', sans-serif;
                    font-size: $text;
                    font-weight: 400;
                    width: 100%;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        font-family: 'Syne', sans-serif;
                        font-size: $text;
                        font-weight: 400;
                    }
                }
                & button {
                    color: $black;
                    font-family: 'Syne', sans-serif;
                        font-size: $text;
                        font-weight: 600;
                        height: 104px;
                        width: 104px;
                        
                        & span {
                            position: absolute;
                        }
                }
                
            }
            &_link {
                margin-top: 104px;
                display: grid;
                &_mail {
                    border-bottom: 1px solid $white;
                    padding-bottom:24px ;
                    margin-bottom: 24px;
                    & span {
                        margin-right: 56px;
                    }
                    & a {
                        border-bottom: 1px solid $blue;
                    }
                }
                &_reseaux {
                    margin-bottom: 56px;
                    & a {
                        display: flex;
                    justify-content: space-between;
                    align-items : center ;
                    width: 215px;
                    margin-bottom: 8px;
                    & span {
                       transition: color 200ms ease-in;
                        &:hover {
                            color: $blue;
                        }
                    }
                    & img {
                        transition: transform 400ms ease-in-out;
                        fill: $blue;
                        & path {
                            
                        }
                    }
                    &:hover img {
                        transform: rotate(45deg);
                    }
                    }
                }
            }
        }
    }

}
textarea {
    background: $black;
    border: none;
    border-bottom: 1px solid $white;
    padding: 24px 0;
    color: $white;
    font-family: 'Syne', sans-serif;
    font-size: $text;
    font-weight: 400;
    height: 133px;
    width: 100%;
    resize: none;
    &:focus {
        outline: none;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: $white 1px solid;
    padding: 24px 0;
    
    & > .markName {
        align-items: flex-start;
    }
}
.link {
    display: flex;
    justify-content: space-between;
    width: 65%;
    &_home {
        
        display: flex;
        flex-direction: column;
        & h3 {
            margin-bottom: 8px;
            font-weight: 600;
        font-size: $text;
        cursor: pointer;
        width: max-content;
        &::after{
            content: '';
            height: 2px;
            background: $blue;
            width: 100%;
            display: inherit;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 200ms ease-in-out;
        }
        &:hover::after{
            transform: scaleX(1);
        }
        }
        & a {
            margin-bottom: 8px;
            font-weight: 600;
        font-size: $text;
        width: max-content;
        &::after{
            content: '';
            height: 2px;
            background: $blue;
            width: 100%;
            display: inherit;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 200ms ease-in-out;
        }
        &:hover::after{
            transform: scaleX(1);
        }
        }
        
    }
    &_contact {
        font-weight: 600;
        font-size: $text;
        & h3 {
            margin-bottom: 8px;
            cursor: pointer;
            width: max-content;
            &::after{
                content: '';
                height: 2px;
                background: $blue;
                width: 100%;
                display: inherit;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 200ms ease-in-out;
            }
            &:hover::after{
                transform: scaleX(1);
            }
        }
        & div {
            margin-bottom: 8px;
            font-weight: 400;
            width: 131px;
            display: flex;
            justify-content: space-between;
         & img {
            
            transition: transform 400ms ease-in-out;
            
         }
         &:hover img{
            transform: rotate(90deg);
        }
        }
    }
    &_credits {
        
        & h3 {
            margin-bottom: 8px;
        }
        & div {
            margin-bottom: 8px;
            & a {
                border-bottom: 1px solid $white ;
            }
            
        }
    }
}
.custom-cursor {
    position: absolute;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    border: 1px solid $blue;
    background-color: transparent; /* Vous pouvez changer la couleur du cercle ici */
    pointer-events: none; /* Important pour permettre les interactions avec les éléments sous-jacents */
    z-index: 100;
    opacity: 0;
    transition: opacity 500ms ease, transform 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    color: $blue;
    transform: scale(0);
    transform-origin: center;
    & img {
        width: 40px;
        aspect-ratio: 1;
    }
    & span {
        font-size: 24px;
        font-weight: 600;
    }
    &-github {
        position: absolute;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    border: 1px solid $blue;
    background-color: transparent; /* Vous pouvez changer la couleur du cercle ici */
    pointer-events: none; /* Important pour permettre les interactions avec les éléments sous-jacents */
    z-index: 98;
    opacity: 0;
    transition: opacity 500ms ease, transform 500ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    color: $blue;
    font-size: 16px;
    transform: scale(0);
    transform-origin: center;
    & img {
        margin-top: 10px;
        width: 15px;
        aspect-ratio: 1;
    }
    }
  } 
  .carrousel {
    margin: 72px 0;
    position: relative;
    overflow: hidden;
   display: flex;
   width: 100%;
   justify-content: space-between;
   
   &-box {
    min-height: 650px;
    width: 100%;
    display: flex;
justify-content: center;
z-index: -1;
   }
}
.arrowCarrousel-right, .arrowCarrousel-left{
    width: 16px;
    padding: 10px;
}
.arrowCarrousel-right {
    transform: rotate(180deg);
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide img {
    width: 185px;
}

.compteurBox {
    position: absolute;
    bottom:72px;
    right: 104px;
    font-size:104px ;
    animation: compteurDisapear 500ms 4.5s forwards ease;
    opacity: 1;
    z-index: -1;
    
}
@keyframes compteurDisapear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#compteurDizaines {
    // position: absolute;
    // left: -150px;
}
#compteurUnites {
    filter: url("#blurFilter");
    margin-right: 10px;
} 
.svgFilter {
    display: none;
    width: 5px;
}
// .cursor {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 60px;
//     height: 60px;
//     z-index: 100;
//     border-radius: 50%;
//     background-color: white;
//     border: 2px solid black;
//     mix-blend-mode: difference;
//     pointer-events: none;
    
//   }
  

// Responsive

@media  (max-width: 1500px) {
   body, h3, .cvButton, .project_bloc_right span, .contact_bloc_right form input, .contact_bloc_right form input::placeholder, .contact_bloc_right form button, textarea, .link_home h3, .link_home a, .link_contact {
    font-size: 18px;
   }
   header {
    width: 90%;
   }
   .container {
    padding: 0 7vw;
   }
   
  }
  @media  (max-width: 1700px) {
    .container {
        padding: 0 10vw;
       }
       header {
        width: 81%;
       }
       .mockupBox-developpeur{
        scale: 0.8;
        transform: translateX(-140px);
       }
  }
  @media  (max-width: 1400px) {
    .selection-developpeur img {
        width: 40vw !important;
       
    }
    .container {
        padding: 0 5vw;
       }
       header {
        width: 90%;
       }
       .contactButton_bg {
        scale: 0.75;
       }
       .cvButton {
        scale: 0.85;
       }
       .bloc_cta {
        margin-top: 8vh;
       }
       .custom-cursor {
        width: 7vw;
        aspect-ratio: 1;
        height: initial;
        & img {
            width: 30px;
        }
        & span {
            font-size: 1.55vw;
        }
       }
       .projet_bloc_right_line_img {
        max-width: 17vw;
       }
       .project_presentation {
        scale: 0.85;
       }
       .about h1 {
        margin-bottom: 52px !important;
       }
       .project_bloc_right .contactButton {
        margin-top: 70px;
       }
       footer {
        margin-top: 100px !important;
    }
  }
  @media  (max-width: 1200px) {
    .selection-paiement img {
        width: 20vw !important;
        
    }
    .link_contact div {
        width: 100px;
    }
  }
  @media  (max-height: 750px) {
    .landing_eyeContain {
        scale: 0.7;
    }
  }

  // Mobile design

  @media  (max-width: 576px) {
    main {
        padding-top: 13vh;
    }
    header nav, .project_bloc_left {
        display: none;
    }
    header {
        width: 89vw;
        z-index: 103;
        transform: translateX(-25px);
        padding: 16px 24px 20px 24px;
        height: initial;
    }
    .burgerBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 11px;
        cursor: pointer;
        overflow: hidden;
        
        
    }
    .burgerBox div {
        background: white;
        width: 100%;
        height: 1px;
        transform-origin: left;
        
    }
    .nav-mobile {
        display: initial !important;
    &-burgerLine2 {
        transform-origin: left;
        transform: translateX(-40%);
    }
    &-burgerLine3  {
        transform-origin: right;
        transform: translateX(40%);
    }
    &-screen {
        display: initial !important;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: black;
        z-index: 102;
        overflow: hidden;
        transform: translateX(100vh);
    }
   
    }
    .container-navMobile {
        padding: 113px 48px 23px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 88%;
    }
    .screen_top {
        border-left: 1px solid white;
        display: flex;
        flex-direction: column;
        & a {
            font-size: 24px;
            margin-bottom: 24px;
            margin-left: 24px;
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
        &_contact {
            display: flex;
            justify-content: space-between;
        }
        
    }
    .screen_bot {
        font-size: 16px;
        margin-bottom: 25px;
        
    }
    .screen_bot >.contactButtonBox {
       
        & >.contact_bloc_right_link_reseaux_mobile a {
            border: 1px solid white;
        }
    }
    .markName img {
        transform: translateY(0);
        margin-right: 18px;
    }
    .landing {
        flex-direction: column;
    height: 100%;
    &_bloc {
        width: initial;
        margin-top: 320px;
    }
    }
    .landing_eyeContain {
        scale: 0.5;
        width: initial;
    position: absolute;
    top: -47px;
    }
    h2 {
        font-size: 24px !important;
        transform: translate(0) !important;
    }
    h1 {
        font-size: 10.2vw !important;
    }
    h3 {
        font-size: 16px !important;
    }
    .container {
        padding: 0 48px 0px 24px
    }
    .bloc_cta {
        margin-top: 40px;
        margin-right: -23px;
    }
    .cvButton_largeCircle {
        scale: 0.54;
    }
    .cvButton {
        scale: 1 !important;
    } 
    .bloc_cta .cvButton_largeCircle {
        transform: translateX(24px);
    }
    .cvButton_circleWhite, .cvButton span {
        font-size: 32px;
    }
    .contactButton_largeCircle {
        scale: 0.8;
    }
    .contactButton {
        background: none;
    }
    .contactButton_bg {
        background-image: url("./assets/lettrage-mobile.svg");
        scale: 0.65;
    }
    footer {
        display: none;
    }
    .about_bloc {
        width: 100%;
    }
    .about_bloc_content_photo {
        width: 100%;
        height: 172px;
        border-radius: 8px;
    }
    .arrowScroll {
        bottom: 74px;
        right: 20px;
    }
    .project_bloc_right {
        width: 100%;
    }
    .custom-cursor-mobile {
        display: flex !important;
        transform: scale(1);
        background: none !important;
        opacity: 1;
        width: 56px !important;
        aspect-ratio: 1;
        height: max-content !important;
        right: 0;
        position: initial;
        margin-top: 3px;
        z-index: 99;
        & img {
            width: 16px !important;
            position: initial;
            opacity: 1;
            
        }
    }
    .project_bloc_right_line{
        & span {
            margin-top: -5%;
        }
        & h2 {
            max-width: 75%;
        }
    & div:nth-child(1) {
        height: max-content !important;
        background: none !important;
        display: flex;
    justify-content: space-between;
    }
    }
    .project_bloc_left_section {
        margin-bottom: 48px;
        & div {
            margin-right: 16px;
        }
    }
    .project_bloc_right_line:nth-child(5) {
        margin-bottom: 32px;
    }
    .project_bloc_right_blocLine a:nth-child(6), .project_bloc_right_blocLine a:nth-child(8) {
        margin-bottom: 80px !important;
    }
   
    textarea, input {
        background: transparent !important;
    }
    .contact {
        width: 101vw;
        transform: translateX(48px);
        background: linear-gradient(195deg, #988BE3 27.46%, #EE5622 74.66%);
        color: black;
        margin-bottom: 0;
        &_bloc_right {
            width: 100%;
            & form input {
                border-bottom: 1px solid black;
                color: rgba(0, 0, 0, 0.5);
            }
            & textarea {
                border-bottom: 1px solid black;
            }
            & .contactButton_largeCircle {
                display: none;
            }
        }
        & h2 {
            padding: 56px 48px 0 24px;
            font-weight: 700;
        }
        &_bloc {
            padding: 0px 48px 24px 24px;
        }
    }
    .flyButton {
        background: black;
        border-radius: 50%;
        /* padding: 5px; */
        width: 50px;
        aspect-ratio: 1;
        margin-top: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        transform: rotate(45deg);
        & svg {
            & path {
                fill: #cb6b6f;
            }
            margin-bottom: -8px;
            transform: translate(0px, 0px) rotate(-45deg);
        }
    }
    .contact_bloc_right_link {
        &_mail {
            display: flex;
            font-size: 16px;
            width: 100%;
            justify-content: space-between;
            border-bottom: 1px solid black;
            & span {
                white-space: nowrap;
                margin-right: 0px;
            }
            & a {
                color: black;
                border-bottom: 1px solid black;
            }
        }
        &_reseaux {
            display: none;
            &_mobile {
                display: flex;
                justify-content: flex-end;
                height: max-content;
                & a {
                    margin-left: 13px;
                    width: 56px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    border: 1px solid black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    
    .contactButtonBox {
        display: flex;
        justify-content: space-between;
        & .cvButton_largeCircle {
            transform: translate(-35px, -45px);
        }
    }
    .custom-cursor {
        display: none;
    }
    .credit-mobile {
        margin-top: 150px;
        padding-top: 24px;
        border-top: 1px solid black;
        font-size: 16px;
        & h3 {
            font-weight: 700;
            margin-bottom: 16px;
        }
        & a {
            color: black;
            border-bottom: 1px solid black !important;
        }
    }

    .about_bloc_content {
    width: 100% !important;
    margin-bottom: 0px !important;
    }
    .about {
        margin-bottom: 200px !important;
        & h1 {
            margin-bottom: 104px !important;
        }
    }
    .palette {
        height: initial !important;
        flex-direction: column;
        margin-top: 87px;
        & div {
            margin-left: 0 !important;
            margin-top: -82px;
            scale: 0.6;
        }
    }
    .presentation-landing {
        scale: 0.31 !important; 
    }
    .selection-landing {
        margin: 50px 0 200px 0 !important;
    }
    .project_bloc_right .contactButton {
        transform: translateX(35px);
        margin-top: 46px;
    }
    .credit-project {
        border-top: 1px solid white !important;
        & a {
            color: white !important;
        }
        margin-bottom: 24px;
    }
    .halo-calc {
        transform: translate(-39px, -12px) !important;
        scale: 0.7;
    }
    .mockupBox {
        &-connexion {
            scale: 0.7;
        }
        &-calculatrice {
            transform: translate(0px, 0) scale(0.85) !important; 
       }
    }
    .presentation-calculatrice {
        overflow-x: hidden;
        margin-bottom: -10vh;
        margin-top: 5vh;
    }
    .presentation-connexion {
        margin-top: 20vh;
        & video {
            transform: translateX(-10px);
            width: 56vw !important;
        }
    }
    .project_presentation {
        scale: 0.60;
    }
    .carrousel {
        margin: 72px 0;
        position: relative;
        overflow: hidden;
       display: flex;
       width: 100%;
       justify-content: space-between;
       
       &-box {
        min-height: 650px;
        width: 100%;
        display: flex;
    justify-content: center;
    z-index: -1;
       }
    }
    .arrowCarrousel-right, .arrowCarrousel-left{
        width: 16px;
        padding: 10px;
    }
    .arrowCarrousel-right {
        transform: rotate(180deg);
    }
    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slide img {
        width: 185px;
    }
    .mockupBox-paiement {
        transform: scale(0.55) !important;
        margin-right: -53px !important;
        margin-top: -8vh !important;
        margin-bottom: -116px;
    }
    .mockupBox-developpeur {
        scale: 0.7;
        transform: translateX(-64px);
        margin-top: -11vh;
    }
    .mockupBox-developpeur div {
        width: 397px !important;
        transform: matrix(0.92, 0.58, -0.25, 0.97, 0, 0) translate(74px, 181px) !important;
    }
    .mockupBox-developpeur div::before {
        width: 397px !important;
        transform: translate(-4px, -37px) !important;
    }
    .mockupBox-baiser {
        width: 220px !important;
        height: 300px !important;
    }

  }
  